body{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem; /* 30px */
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden; /* fix animation ko cho nó bị dịch lên trên chút chút, nhảy bit ảnh đó;v */
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem; /*khoảng cách giữa các chữ*/
    
        animation: moveInLeft;
        animation-duration: 1s ; /* thời gian animation chạy */
        animation-timing-function: ease-out; /* timming function => có thể xem chư kiểu chạy , tự custom thì dùng cubic-bezier*/
        
        /* animation-delay: 3s;  thời gian delay để bắt đầu 
           animation-iteration-count: 3; số lần chạy
        */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem; /* 17.4px*/
    
        animation: moveInRight 1s ease-out ; /* one by one: animation-name, duration, timing-function,delay,et cetera */
    }
}