.row {
  max-width: $grid-width; // sử dụng max-width thì khi thu nhỏ viewport thì phần tử cũng tự động thu nhỏ width lại theo đúng tỉ lệ
  // background-color: #eee;
  margin: 0 auto; // dùng để căn giữa block element trong block element

  &:not(:last-child) {
    // select tất cả trừ last child
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  @include clearfix;

  [class^="col-"] {
    float: left; // cho các block nằm kề nhau

    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  // [] la brackets => cái này dùng để select all thẻ có class bắt đầu bằng col- , nếu muốn chính xac thì [alt="logo"]=> select all thẻ có alt là logo
  // [class*="col-"] select any class có col- => tức là kể cả class trong class bla bla, ở trường hợp này ko nên dùng vì cso thể có lỗi
  // [class$="col-] select any class kết thúc bằng col-
  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3 {
    width: calc(
      ((100% - 2 * #{$gutter-horizontal}) / 3) * 2 + #{$gutter-horizontal}
    );
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4 {
    width: calc(
      ((100% - 3 * #{$gutter-horizontal}) / 4) * 2 + #{$gutter-horizontal}
    );
  }

  .col-3-of-4 {
    width: calc(
      ((100% - 3 * #{$gutter-horizontal}) / 4) * 3 + (2 * #{$gutter-horizontal})
    );
  }
}

/*
khi viết media query thì em tốt hơn rem, và đều nhận font-size root là 16px bất kể
----nhớ em là dựa vào font-size trong block đó, còn rem là căn cứ vào font-size của html
---- nên khi thay đổi font-size của html gốc, trong khi tất cả độ dài đã code dùng rem--> sẽ affect lên toàn bộ
*/

// làm responsive theo thứ tự base(font-size) > typography(các heading) > grid system(đổi về 1 column và sửa các gutter)
//                           > layout(header, section, footer, navigation, popup---đổi lại các padding, margin(trong ultilities))
//                           > sửa các component(chủ yếu là về size)
