.row{
    max-width: $grid-width; // sử dụng max-width thì khi thu nhỏ viewport thì phần tử cũng tự động thu nhỏ width lại theo đúng tỉ lệ
    // background-color: #eee;
    margin: 0 auto; // dùng để căn giữa block element trong block element

    &:not(:last-child){ // select tất cả trừ last child
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    [class^="col-"] {
        float: left; // cho các block nằm kề nhau

        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
    }
    
    // [] la brackets => cái này dùng để select all thẻ có class bắt đầu bằng col- , nếu muốn chính xac thì [alt="logo"]=> select all thẻ có alt là logo
    // [class*="col-"] select any class có col- => tức là kể cả class trong class bla bla, ở trường hợp này ko nên dùng vì cso thể có lỗi
    // [class$="col-] select any class kết thúc bằng col-
    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal})/2);
    }

    .col-1-of-3{
        width: calc((100% - 2 * #{$gutter-horizontal})/3);
    }

    .col-2-of-3{
        width: calc(((100% - 2 * #{$gutter-horizontal})/3) * 2 + #{$gutter-horizontal});
    }

    .col-1-of-4{
        width: calc((100% - 3 * #{$gutter-horizontal})/4);
    }

    .col-2-of-4{
        width: calc(((100% - 3 * #{$gutter-horizontal})/4) * 2 + #{$gutter-horizontal});
    }

    .col-3-of-4{
        width: calc(((100% - 3 * #{$gutter-horizontal})/4) * 3 + (2 * #{$gutter-horizontal}));
    }

}