.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0 ;
    margin-top: -20vh;

}

.section-features {
    padding: 20rem 0;
    background-image:linear-gradient(
        to right bottom,
        rgba($color-primary-light,0.8), // chỉ trong sass mới put hex color vào rgba
        rgba($color-primary-dark,0.8)),
        url(../img/nat-4.jpg); /* comma - thêm hiệu ứng cho background , ở đây dùng linear-gradient có param 1 là hướng gradient */
    background-size: cover; /* tự fit với khối div chứa ảnh */
    margin-top: -10rem;
    transform: skewY(-7deg); // có thể dùng clip path nhưng với cái này thi dùng cái này dễ hơn

    & > * { //select tất cả thẻ con trực tiếp của section features thay vì vào từng child để chỉnh skew cho thẳng lại
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}

.section-stories {
    padding: 15rem 0;
    position: relative;
}